/* @tailwind base;
@tailwind components;
<<<<<<< HEAD
@tailwind utilities;


.home {
    text-align: center;
    padding: 20px;
    transition: background-color 0.5s;
  }
  
  h2, p, label, button {
    font-family: 'Comic Sans MS', 'Comic Sans', sans-serif;
  }
  
  .form-group {
    margin: 10px 0;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input, select, button {
    padding: 8px;
    font-size: 1rem;
    margin-top: 5px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
=======
@tailwind utilities; */
>>>>>>> main
