@tailwind base;
@tailwind components;
@tailwind utilities;


.home {
    text-align: center;
    margin-top: 20px;
  }
  
  .form-group {
    margin: 10px 0;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input, select, button {
    margin-top: 5px;
    padding: 8px;
    font-size: 1rem;
  }
  